
	<h1>Impressum</h1>
	
	<ul style="list-style-type:none">
	<li>
		Projekt der:
	</li>
	<li>
		Fachhochschule Südwestfalen
	</li>
	<li>
		Baarstraße 6
	</li>
	<li>
		58636 Iserlohn
	</li>
	<li>
		Telefon: +492371/566-0
	</li>
	<li>
		Telefax: +492371/566-274
	</li>
	<li>
		E-Mail: info@fh-swf.de
	</li>
	<li>
		Internet: http://www.fh-swf.de/
	</li>
	</ul>