/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .wrapper {
  display:grid;
  background:lightblue;
  grid-template-columns:1fr;
  grid-template-rows:2fr 8fr 2fr;
 }

 .wrapper .header{
  display:grid;
  grid-template-columns:7fr 3fr;
  background:yellowgreen;
 }

 .wrapper .header .lists{
  background:lightcoral;
 }

 .wrapper .header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 .wrapper .header li {
  float: left;
}

.wrapper .header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper .header li a:hover {
  color: green;
}

.wrapper .footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 .wrapper .footer li {
  float: left;
}

.wrapper .footer li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper .footer li a:hover {
  color: green;
}

 .wrapper .header .login{
  background: lightpink;
 }
 
.wrapper .content{
  background: lightyellow;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.wrapper .footer{
  background: lightgray;
}

  .table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
  }
  
  .table-scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }
  
  .table-scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
  }

  @media (max-width: 400px) {
    .wrapper .header{
      grid-template-columns:1fr;
  }